.container
  .two.columns
    h1 Post
    a.button(href="/posts/#{_id}/edit", style='width:100%') Edit
    a.button(href="/posts", style='width:100%') Home
  .eight.columns.offset-by-one
    h3= title
    hr
    !{formatted_body}
    hr
    p Updated By !{updated_by} on !{updated_at}
    p Created By !{creator} on !{created_at}